
/* ================================================= */
/*                  LAYOUT SYSTEM                   */
/* ================================================= */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-header{
    background-color: var(--bg-secondary);
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 1.5rem;
}

.sidebar-nav{
    background-color: var(--bg-secondary);
    padding: 1.5rem 0;
    border-right: 1px solid var(--border-color);
    flex-shrink: 0;
    width:240px;
}

.sidebar-nav ul{
    padding:0;
    list-style: none;
}

.sidebar-nav ul li a{
    padding: 0.75rem 1.75rem;
}


.sidebar-nav ul li a:hover{
    color: var(--accent-hover);
    text-decoration: underline;
}

.content-area{
    padding: 2rem;
    flex-grow: 1;
    min-height: calc(100vh - 120px); /* Account for header and footer height */
    display: flex;
    flex-direction: column;
}

.app-layout{
    flex: 1 0 auto;
    display: flex;
}

.app-footer{
    text-align: center;
    background-color: var(--bg-secondary);
    border-top:1px solid var(--border-color);
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
    line-height: 0.5rem;
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't add to width */
    flex-shrink: 0;
    position: static;
}
